.maino{

}

.lt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.rt {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.lb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.rb {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.maino {

}
